# Git Ignore File for APEXCalculus
#
#
## Standard LaTeX files types
*.aux
*.idx
*.ilg
*.ind
*.log
*.out
*.synctex
*.tps
*.tcp
#
## Figure files
*.dep
*.dpth
*.md5
#*.out
#*.log
*.tmp
*.tps
#
## Some of my files
*.answers
#
## Don't skip these files
!CalculusI.aux
!CalculusII.aux
!CalculusIII.aux
!Calculus.aux
## Seeing if this makes sense to do - these .pdfs are very large
Calculus.pdf
CalculusI.pdf
CalculusII.pdf
CalculusIII.pdf
CalculusIV.pdf
_CalculusFix.pdf